body {background-color: #757777;}
.memph {text-align:center}
.fgf {font-size: 30px;}
.jr {font-size: 35px;}
.jr {text-align:center}
.hog {font-size: 35px;}
.hog {text-align:center}
.pig {font-size: 30px;}
